@model FAEmlak.Models.ListCategoriesModel
@using FAEmlak.Helpers
@using FAEmlak.Entity
@{
    ViewData["Title"] = "Category Page";
}

<div class="row">
    <div class="col-md-2">
        <div class="row">
            <h5>Fiyat</h5>
            <div class="d-flex" >
                <input type="text" class="form-control" />
                -
                <input type="text" class="form-control" />
            </div>
        </div>

    </div>

    <div class="col-md-10">
        <table class="table" cellspacing="0">
            <thead>
                <tr>
                    <th>İlan Başlığı</th>
                    <th>Metrekare</th>
                    <th>Oda Sayisi</th>
                    <th>Fiyat</th>
                    <th>İlan Tarihi</th>
                    <th>İl/İlçe</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var property in Model.properties)
                {
                    <tr>
                        <td><a href="#">@property.Title</a></td>
                        <td>@property.Area</td>
                        <td>---</td>
                        <td>@property.Price</td>
                        <td>@property.Created</td>
                        <td>@property.State.City.Name / @property.State.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


