@model List<FAEmlak.Data.Property>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@using FAEmlak.Helpers
@using FAEmlak.Data
@{
    ViewData["Title"] = Localizer["PageTitle"];
}


<div class="row">

    <div class="col-md-2">
        <form asp-controller="Category" asp-action="Search" method="post">
            <div class="row">
                <select asp-items="@ViewBag.Cities" id="CitySelector" class="form-control">
                    <option>@Localizer["SelectCity"]</option>
                </select>
            </div>
            <div class="row mt-2">
                <select id="StateList" class="form-control" name="StateId">
                    <option disabled>@Localizer["SelectState"]</option>
                </select>
            </div>
            <div class="row mt-2">
                <div class="card">
                    <div class="card-body">
                        <label>@Localizer["Price"]</label>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="number" name="PriceFrom" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <input type="number" name="PriceTo" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="card" style="width: 100%">
                    <div class="card-body">
                        <label>@Localizer["RoomCount"]</label>
                        <div class="row">
                            <div class="col-md-12">
                                <select id="role" name="RoomCount" class="custom-select" size="6">
                                    @foreach (RoomCount roomCount in Enum.GetValues(typeof(RoomCount)))
                                    {
                                        String title = EnumHelper<RoomCount>.GetDisplayValue(roomCount);
                                        <option value="@roomCount.ToString()">@title</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-2">
                <button style="width: 100%" class="btn btn-primary" type="submit">Ara</button>
            </div>
        </form>
    </div>
    <div class="col-md-10">
        <h3>@Localizer["PageTitle"]</h3>
        <table class="table" cellspacing="0">
            <thead>
                <tr>
                    <th>@Localizer["Photo"]</th>
                    <th>@Localizer["Title"]</th>
                    <th>@Localizer["Area"]</th>
                    <th>@Localizer["RoomCount"]</th>
                    <th>@Localizer["Price"]</th>
                    <th>@Localizer["Created"]</th>
                    <th>@Localizer["City"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var property in Model)
                {
                    String roomCount = EnumHelper<FAEmlak.Data.RoomCount>.GetDisplayValue(property.RoomCount);
                    <tr>
                        <td><img src="~/img/@property.PropertyId/@property.Photos[0].PhotoPath" height="70" /></td>
                        <td><a asp-controller="Property" asp-action="Detail" asp-route-Id="@property.PropertyId">@property.Title</a></td>
                        <td>@property.Area</td>
                        <td>@roomCount</td>
                        <td>@property.Price</td>
                        <td>@property.Created.Date.ToString("dd/MM/yyyy")</td>
                        <td>@property.State.City.Name / @property.State.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#CitySelector").change(function () {
                $("#StateList").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("LoadState")',
                    dataType: 'json',
                    data: { CityId: $("#CitySelector").val() },
                    success: function (states) {
                        $.each(states, function (i, state) {
                            console.log(i);
                            $("#StateList").append('<option value="' + state.value + '">' + state.text + '</option>');
                        });
                    },
                    error: function (ex) {
                        console.log(ex);
                    }
                });
                return false;
            });
        });
    </script>
}

