@using FAEmlak.Helpers
@using FAEmlak.Data
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "İlan Ekle";
}

@section Stylesheets{
    <link rel="stylesheet" href="~/admin/css/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" href="~/admin/css/summernote/summernote.css">
}

<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-support"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>İlan Ekle</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcomb area End-->
<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list">
                    <form method="post" asp-controller="Admin" asp-action="CreateUser">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>İlan Başlığı</label>
                                    <div class="nk-int-st">
                                        <input type="text" name="Title" class="form-control input-lg" placeholder="İlan Başlığı">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>İlan Kategorisi</label>
                                    <div class="nk-int-st">
                                        <select id="role" name="PropertyCategory" class="form-control">
                                            @foreach (PropertyCategory propertyCategory in Enum.GetValues(typeof(PropertyCategory)))
                                            {
                                                String title = EnumHelper<PropertyCategory>.GetDisplayValue(propertyCategory);
                                                <option value="@propertyCategory.ToString()">@title</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>İlan Tipi</label>
                                    <div class="nk-int-st">
                                        <select id="role" name="PropertyType" class="form-control">
                                            @foreach (PropertyType propertyType in Enum.GetValues(typeof(PropertyType)))
                                            {
                                                String title = EnumHelper<PropertyType>.GetDisplayValue(propertyType);
                                                <option value="@propertyType.ToString()">@title</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>İl</label>
                                    <div class="nk-int-st">
                                        <select asp-items="@ViewBag.Cities" id="CitySelector" class="form-control">
                                            <option>İl seçiniz</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>İlçe</label>
                                    <div class="nk-int-st">
                                        <select id="StateList" name="StateId" class="form-control">
                                            <option>İlçe Seçin</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>Oda Sayısı</label>
                                    <div class="nk-int-st">
                                        <select id="role" name="PropertyType" class="form-control">
                                            @foreach (RoomCount roomCount in Enum.GetValues(typeof(RoomCount)))
                                            {
                                                String title = EnumHelper<RoomCount>.GetDisplayValue(roomCount);
                                                <option value="@roomCount.ToString()">@title</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>Fiyat</label>
                                    <div class="nk-int-st">
                                        <div class="form-group">
                                            <div class="nk-int-st">
                                                <input type="number" class="form-control" name="Price">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>Alan m²</label>
                                    <div class="nk-int-st">
                                        <div class="form-group">
                                            <div class="nk-int-st">
                                                <input type="number" class="form-control" name="Area">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>Kat Sayısı</label>
                                    <div class="nk-int-st">
                                        <div class="form-group">
                                            <div class="nk-int-st">
                                                <input type="number" class="form-control" name="FloorCount">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>Kaçıncı Kat</label>
                                    <div class="nk-int-st">
                                        <div class="form-group">
                                            <div class="nk-int-st">
                                                <input type="number" class="form-control" name="WhichFloor">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>Banyo Sayısı</label>
                                    <div class="nk-int-st">
                                        <div class="form-group">
                                            <div class="nk-int-st">
                                                <input type="number" class="form-control" name="WhichFloor">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>Bina Yaşı</label>
                                    <div class="nk-int-st">
                                        <div class="form-group">
                                            <div class="nk-int-st">
                                                <input type="number" class="form-control" name="BuildingAge">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-sm-2">
                                <div class="form-check">
                                    <input class="form-check-input" name="HasBalcony" type="checkbox" id="HasBalcony">
                                    <label class="form-check-label" for="HasBalcony">
                                        Balkonu var mı?
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-check">
                                    <input class="form-check-input" name="HasStuff" type="checkbox" id="HasStuff">
                                    <label class="form-check-label" for="HasStuff">
                                        Eşyalı mı?
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-check">
                                    <input class="form-check-input" name="IsInSite" type="checkbox" id="IsInSite">
                                    <label class="form-check-label" for="IsInSite">
                                        Site içinde mi?
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>İlan Açıklaması</label>
                                <div class="html-editor"></div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <button type="submit" class="btn btn-primary notika-btn-primary btn-md waves-effect">Oluştur</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/admin/js/bootstrap-select/bootstrap-select.js"></script>
    <script src="~/admin/js/summernote/summernote-updated.min.js"></script>
    <script src="~/admin/js/summernote/summernote-active.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#CitySelector").change(function () {
                $("#StateList").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("LoadState")',
                    dataType: 'json',
                    data: { CityId: $("#CitySelector").val() },
                    success: function (states) {
                        $.each(states, function (i, state) {
                            console.log(i);
                            $("#StateList").append('<option value="' + state.value + '">' + state.text + '</option>');
                        });
                    },
                    error: function (ex) {
                        console.log(ex);
                    }
                });
                return false;
            });
        });
    </script>
}