@using FAEmlak.Helpers
@using FAEmlak.Data
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model PropertyDetailViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = Localizer["PageTitle"];
}

@section Stylesheets{
    <link rel="stylesheet" href="~/admin/css/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" href="~/admin/lib/summernote/summernote.min.css">
}

<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-support"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>@Localizer["PageTitle"]</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list">
                    <form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="CreateProperty">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>@Localizer["Title"]</label>
                                    <div class="nk-int-st">
                                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control input-lg" })
                                    </div>
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>@Localizer["PropertyCategory"]</label>
                                    <div class="nk-int-st">
                                        <select id="role" name="PropertyCategory" class="form-control">
                                            @foreach (PropertyCategory propertyCategory in Enum.GetValues(typeof(PropertyCategory)))
                                            {
                                                String title = EnumHelper<PropertyCategory>.GetDisplayValue(propertyCategory);
                                                <option value="@propertyCategory.ToString()">@Localizer[$"{propertyCategory.ToString()}"]</option>
                                            }
                                        </select>
                                    </div>
                                    <span asp-validation-for="PropertyCategory" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>@Localizer["PropertyType"]</label>
                                    <div class="nk-int-st">
                                        <select id="role" name="PropertyType" class="form-control">
                                            @foreach (PropertyType propertyType in Enum.GetValues(typeof(PropertyType)))
                                            {
                                                String title = EnumHelper<PropertyType>.GetDisplayValue(propertyType);
                                                <option value="@propertyType.ToString()">@Localizer[$"{propertyType.ToString()}"]</option>
                                            }
                                        </select>
                                    </div>
                                    <span asp-validation-for="PropertyType" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>@Localizer["City"]</label>
                                    <div class="nk-int-st">
                                        <select asp-items="@ViewBag.Cities" id="CitySelector" class="form-control">
                                            <option>@Localizer["SelectCity"]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>@Localizer["State"]</label>
                                    <div class="nk-int-st">
                                        <select id="StateList" name="StateId" class="form-control">
                                            <option>@Localizer["SelectState"]</option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="StateId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>@Localizer["RoomCount"]</label>
                                    <div class="nk-int-st">
                                        <select id="role" name="RoomCount" class="form-control">
                                            @foreach (RoomCount roomCount in Enum.GetValues(typeof(RoomCount)))
                                            {
                                                String title = EnumHelper<RoomCount>.GetDisplayValue(roomCount);
                                                <option value="@roomCount.ToString()">@title</option>
                                            }
                                        </select>
                                    </div>
                                    <span asp-validation-for="RoomCount" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>@Localizer["Price"]</label>
                                    <div class="form-group">
                                        <div class="nk-int-st">
                                            @Html.EditorFor(x => x.Price, new { htmlAttributes = new { @type = "number", @min = "0", @class = "form-control" } })
                                        </div>
                                    </div>
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>@Localizer["Area"]</label>
                                    <div class="form-group">
                                        <div class="nk-int-st">
                                            @Html.EditorFor(x => x.Area, new { htmlAttributes = new { @type = "number", @min = "0", @class = "form-control" } })
                                        </div>
                                    </div>
                                    <span asp-validation-for="Area" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>@Localizer["FloorCount"]</label>
                                    <div class="form-group">
                                        <div class="nk-int-st">
                                            @Html.EditorFor(x => x.FloorCount, new { htmlAttributes = new { @type = "number", @min = "0", @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>@Localizer["WhichFloor"]</label>
                                    <div class="form-group">
                                        <div class="nk-int-st">
                                            @Html.EditorFor(x => x.WhichFloor, new { htmlAttributes = new { @type = "number", @min = "0", @class = "form-control" } })
                                        </div>
                                    </div>
                                    <span asp-validation-for="WhichFloor" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>@Localizer["BathroomCount"]</label>
                                    <div class="form-group">
                                        <div class="nk-int-st">
                                            @Html.EditorFor(x => x.BathroomCount, new { htmlAttributes = new { @type = "number", @min = "0", @class = "form-control" } })
                                        </div>
                                    </div>
                                    <span asp-validation-for="BathroomCount" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group ic-cmp-int">
                                    <label>@Localizer["BuildingAge"]</label>
                                    <div class="form-group">
                                        <div class="nk-int-st">
                                            @Html.EditorFor(x => x.BuildingAge, new { htmlAttributes = new { @type = "number", @min = "0", @class = "form-control" } })
                                        </div>
                                    </div>
                                    <span asp-validation-for="BuildingAge" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-sm-2">
                                <div class="form-check">
                                    @Html.CheckBoxFor(x => x.HasBalcony, new { @class = "form-check-input" })
                                    <label class="form-check-label">@Localizer["HasBalcony"]</label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-check">
                                    @Html.CheckBoxFor(x => x.HasStuff, new { @class = "form-check-input" })
                                    <label class="form-check-label">@Localizer["HasStuff"]</label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-check">
                                    @Html.CheckBoxFor(x => x.IsInSite, new { @class = "form-check-input" })
                                    <label class="form-check-label">@Localizer["IsInSite"]</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>@Localizer["Description"]</label>
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @row = 5 })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label>@Localizer["AddPhoto"]</label>
                                <input class="form-control" name="files" multiple="multiple" type="file" />
                            </div>
                        </div>

                        <div class="row text-center" style="margin-top: 15px;">
                            <button type="submit" class="btn btn-primary notika-btn-primary btn-md waves-effect">@Localizer["Create"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/admin/js/bootstrap-select/bootstrap-select.js"></script>
    <script src="~/admin/lib/summernote/summernote.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#Description').summernote({
                height: 200,
                minHeight: null,
                maxHeight: null,
            });

            $("#CitySelector").change(function () {
                $("#StateList").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("LoadState")',
                    dataType: 'json',
                    data: { CityId: $("#CitySelector").val() },
                    success: function (states) {
                        $.each(states, function (i, state) {
                            console.log(i);
                            $("#StateList").append('<option value="' + state.value + '">' + state.text + '</option>');
                        });
                    },
                    error: function (ex) {
                        console.log(ex);
                    }
                });
                return false;
            });
        });
    </script>
}