@model List<FAEmlak.Data.User>
@using FAEmlak.Helpers
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = Localizer["PageTitle"];
}

@section Stylesheets{
    <!-- Data Table JS
            ============================================ -->
    <link rel="stylesheet" href="css/jquery.dataTables.min.css">
}

<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-support"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>@Localizer["PageTitle"]</h2>
                                    <p>@Localizer["YouCanList"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcomb area End-->
<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @if (TempData["Message"] != null && TempData["Status"] != null)
                {
                <div class="alert alert-@TempData["Status"]" role="alert">
                    @TempData["Message"]
                </div>
                }
                <div class="data-table-list">
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>@Localizer["Name"]</th>
                                    <th>@Localizer["Surname"]</th>
                                    <th>@Localizer["Email"]</th>
                                    <th>@Localizer["Created"]</th>
                                    <th>@Localizer["Action"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.Email</td>
                                        <td>@item.Created.Date.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            <a asp-controller="Admin" asp-action="EditUser" asp-route-UserName="@item.Email" style="font-size: 16px; margin-right: 10px">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </a>
                                            <a asp-controller="Admin" asp-action="DeleteUser" asp-route-UserId="@item.Id" style="font-size: 16px">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>@Localizer["Name"]</th>
                                    <th>@Localizer["Surname"]</th>
                                    <th>@Localizer["Email"]</th>
                                    <th>@Localizer["Created"]</th>
                                    <th>@Localizer["Action"]</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Data Table JS
        ============================================ -->
    <script src="~/admin/js/data-table/jquery.dataTables.min.js"></script>
    <script src="~/admin/js/data-table/data-table-act.js"></script>
}