@model FAEmlak.Models.PropertyDetailViewModel
@using FAEmlak.Helpers

@section Stylesheets {
    <link href="~/lib/lightslider/css/lightslider.min.css" rel="stylesheet" />
    <style>
        td {
            padding: 0 !important;
        }
    </style>
}

<div class="row d-flex flex justify-content-between mb-3" style="border-bottom: 1px solid black">
    <h5>
        @Model.Title
    </h5>
    @if (Model.IsFavorite)
    {
        <a href="#" id="RemoveFromFavorite"><h6 id="remove-favorite">Favorilerimden Çıkar</h6></a>
    }
    else
    {
        <a href="#" id="AddToFavorite"><h6 id="add-favorite">Favorilerime Ekle</h6></a>
    }
</div>

<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <ul id="lightSlider">
                    @foreach (var item in Model.Photos)
                    {
                        <li data-thumb="/img/@Model.ProductId/@item.PhotoPath"> <img src="~/img/@Model.ProductId/@item.PhotoPath" /> </li>
                    }
                </ul>
            </div>
            <div class="col-md-4 d-flex flex-column">
                <h5 class="mb-3">@Model.Price TL</h5>

                <h6>@Model.State.City.Name / @Model.State.Name</h6>

                <table class="table table-hover mt-3">
                    <tbody>
                        <tr>
                            <td><b>@Html.LabelFor(x => x.Created)</b></td>
                            <td>@Model.Created.Date.ToString("dd/MM/yyyy")</td>
                        </tr>
                        <tr>
                            <td><b>@Html.LabelFor(x => x.Area)</b></td>
                            <td>@Model.Area</td>
                        </tr>
                        <tr>
                            <td><b>@Html.LabelFor(x => x.RoomCount)</b></td>
                            <td>@(EnumHelper<FAEmlak.Data.RoomCount>.GetDisplayValue(Model.RoomCount))</td>
                        </tr>
                        <tr>
                            <td><b>@Html.LabelFor(x => x.BuildingAge)</b></td>
                            <td>@Model.BuildingAge</td>
                        </tr>
                        <tr>
                            <td><b>@Html.LabelFor(x => x.FloorCount)</b></td>
                            <td>@Model.FloorCount</td>
                        </tr>
                        <tr>
                            <td><b>@Html.LabelFor(x => x.WhichFloor)</b></td>
                            <td>@Model.WhichFloor</td>
                        </tr>
                        <tr>
                            <td><b>@Html.LabelFor(x => x.BathroomCount)</b></td>
                            <td>@Model.BathroomCount</td>
                        </tr>
                        <tr>
                            <td><b>@Html.LabelFor(x => x.HasBalcony)</b></td>
                            <td>@(Model.HasBalcony ? "Var" : "Yok")</td>
                        </tr>
                        <tr>
                            <td><b>@Html.LabelFor(x => x.HasStuff)</b></td>
                            <td>@(Model.HasStuff ? "Evet" : "Hayır")</td>
                        </tr>
                        <tr>
                            <td><b>@Html.LabelFor(x => x.IsInSite)</b></td>
                            <td>@(Model.IsInSite ? "Evet" : "Evet")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-right">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-12">
                <h5>@Model.user.FirstName @Model.user.LastName</h5>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> İstanbul</p>

                <hr>
                <a asp-controller="Account" asp-action="UsersProperties" asp-route-UserId="@Model.user.Id" class="btn btn-success btn-sm">Tüm İlanları</a>
                <hr>
                <h6>Tel: 0554 957 34 26</h6>
            </div>
        </div>
        <div class="row user-social-detail">
            <div class="col-lg-12 col-sm-12 col-12">
                
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12 search-menu">
        <div class="nav nav-pills" id="nav-tab" role="tablist">
            <a class="nav-link mr-2 active" id="nav-profile-tab" data-toggle="tab" href="#description" role="tab" aria-controls="nav-profile" aria-selected="false">İlan Açıklaması</a>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="home-tab">
                @Model.Description
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/lib/lightslider/js/lightslider.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#AddToFavorite").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddFavorite", "Favorites", new { PropertyId = Model.ProductId })",
                    dataType: "text",
                    success: function (msg) {
                        $("#add-favorite").attr("id", "remove-favorite").text("Favorilerimden Çıkar");
                        $("#AddToFavorite").attr("id", "RemoveFromFavorite");
                    },
                    error: function (req, status, error) {
                        console.log(msg);
                    }
                });
            });

            $("#RemoveFromFavorite").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("RemoveFavorite", "Favorites", new { PropertyId = Model.ProductId })",
                    dataType: "text",
                    success: function (msg) {
                        $("#remove-favorite").attr("id", "add-favorite").text("Favorilerime Ekle");
                        $("#RemoveFromFavorite").attr("id", "AddToFavorite");
                    },
                    error: function (req, status, error) {
                        console.log(msg);
                    }
                });
            });

            $('#lightSlider').lightSlider({
                gallery: true,
                item: 1,
                loop: true,
                slideMargin: 0,
                thumbItem: 9
            });
        });

    </script>
}