@model FAEmlak.Models.ListFavoriteItemsModel
@using FAEmlak.Helpers
@using FAEmlak.Data
@{
    ViewData["Title"] = "Favoriler";
}

<div class="row">
    <div class="col-md-10">
        <h5>Favori İlanlarım</h5>
        <table class="table" cellspacing="0">
            <thead>
                <tr>
                    <th>İlan Başlığı</th>
                    <th>Metrekare</th>
                    <th>Oda Sayisi</th>
                    <th>Fiyat</th>
                    <th>İlan Tarihi</th>
                    <th>İl/İlçe</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.favoriteItems)
                {
                    <tr>
                        <td><a asp-controller="Property" asp-action="Detail" asp-route-Id="@item.PropertyId">@item.Property.Title</a></td>
                        <td>@item.Property.Area</td>
                        <td>---</td>
                        <td>@item.Property.Price</td>
                        <td>@item.Property.Created.Date.ToString("dd/MM/yyyy")</td>
                        <td>@item.Property.State.City.Name / @item.Property.State.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>