@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@using Microsoft.AspNetCore.Identity
@inject UserManager<FAEmlak.Data.User> userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FAEmlak</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Stylesheets", required: false)
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FAEmlak</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <form class="form-inline mr-auto">
                        <input class="form-control mr-sm-2" type="search" style="width: 200px" placeholder="Kelime, ilan no ile ara" aria-label="Kelime, ilan no ile ara">
                        <button class="btn btn-success my-2 my-sm-0" type="submit">@Localizer["Search"]</button>
                    </form>
                    <ul class="navbar-nav mr-2">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="UsersProperties" asp-route-UserId="@userManager.GetUserId(User)">@Localizer["MyProperties"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Favorites" asp-action="Index">@Localizer["FavoriteProperties"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">@Localizer["SignOut"]</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">@Localizer["SignUp"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">@Localizer["SignIn"]</a>
                            </li>
                        }

                    </ul>
                    <a asp-controller="Property" asp-action="Create" class="btn btn-info">@Localizer["CreateProperty"]</a>
                    <partial name="_Culture" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pt-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">&#169 @DateTime.Now.Year FAEmlak - Furkan Ergün & Alperen Derin </span>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
