@model FAEmlak.Models.PropertyModel
@using FAEmlak.Helpers
@using FAEmlak.Data
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{ ViewData["Title"] = Localizer["PageTitle"]; }

<div class="row mb-5">
    <div class="col-md-3 d-flex flex-column">
        <ul class="list-group list-group-flush">
            @foreach (PropertyType propertyType in Enum.GetValues(typeof(PropertyType)))
            {
<li class="list-group-item"><b>@Localizer[$"{propertyType.ToString()}"]</b></li>
                <ul>
                    @foreach (PropertyCategory propertyCategory in Enum.GetValues(typeof(PropertyCategory)))
                    {
    <li><a asp-controller="Category" asp-action="ListCategories" asp-route-propertyType="@propertyType.ToString()" asp-route-propertyCategory="@propertyCategory.ToString()">@Localizer[$"{propertyCategory.ToString()}"]</a></li>}
                </ul>}
        </ul>
    </div>
    @* ============================================================================================================================================================================================================ *@
    <div class="col-md-9" style="        background: url('https://www.sahibinden.com/assets/images/emlak-konut-1150:28df29ee426dfc1b128b555510884fcd.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
">
        <div class="container py-5 my-5">
            <div class="row">
                <form asp-controller="Category" asp-action="Search" method="post" style="width: 100%">
                    <div class="col-md-12 search-menu">
                        <div class="nav nav-pills" id="nav-tab" role="tablist">
                            <a class="nav-link mr-2" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Hızlı Ara</a>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="card">
                                    <div class="card-body d-flex flex-row">
                                        <div class="col-md-2 px-">
                                            <div class="form-group ">
                                                <select name="PropertyCategory" class="form-control">
                                                    @foreach (PropertyCategory propertyCategory in Enum.GetValues(typeof(PropertyCategory)))
                                                    {
                                                        String title = EnumHelper<PropertyCategory>.GetDisplayValue(propertyCategory);
                                        <option value="@propertyCategory.ToString()">@Localizer[$"{propertyCategory.ToString()}"]</option>
}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2 px-2">
                                            <div class="form-group">
                                                <select name="PropertyType" class="form-control">
                                                    @foreach (PropertyType propertyType in Enum.GetValues(typeof(PropertyType)))
                                                    {
                                                        String title = EnumHelper<PropertyType>.GetDisplayValue(propertyType);
                                        <option value="@propertyType.ToString()">@Localizer[$"{propertyType.ToString()}"]</option>
}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2 px-2">
                                            <div class="form-group ">
                                                <select asp-items="@ViewBag.Cities" id="CitySelector" class="form-control">
                                                    <option>@Localizer["SelectCity"]</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2 px-2">
                                            <div class="form-group ">
                                                <select id="StateList" name="StateId" class="form-control">
                                                    <option>@Localizer["SelectState"]</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2 px-2">
                                            <div class="form-group ">
                                                <select id="role" name="RoomCount" class="form-control">
                                                    @foreach (RoomCount roomCount in Enum.GetValues(typeof(RoomCount)))
                                                    {
                                                        String title = EnumHelper<RoomCount>.GetDisplayValue(roomCount);
                                        <option value="@roomCount.ToString()">@title</option>
}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2 px-2">
                                            <button type="submit" class="btn btn-dark">@Localizer["Search"]</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#CitySelector").change(function () {
                $("#StateList").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("LoadState")',
                    dataType: 'json',
                    data: { CityId: $("#CitySelector").val() },
                    success: function (states) {
                        $.each(states, function (i, state) {
                            console.log(i);
                            $("#StateList").append('<option value="' + state.value + '">' + state.text + '</option>');
                        });
                    },
                    error: function (ex) {
                        console.log(ex);
                    }
                });
                return false;
            });
        });
    </script>
}
