@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@model LoginModel
<div class="row my-5">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
            <article class="card-body">
                <a asp-controller="Account" asp-action="Login" class="float-right btn btn-outline-primary">@Localizer["SignUp"]</a>
                <h4 class="card-title mb-4 mt-1">@Localizer["Login"]</h4>
                <hr>
                <div asp-validation-summary="All"></div>
                <form asp-controller="Account" asp-action="Login" method="post">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Email)
                        <input class="form-control" asp-for="Email" type="email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Password)
                        <input class="form-control" asp-for="Password" type="password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> @Localizer["Login"]  </button>
                            </div>
                        </div>
                    </div>
                </form>
            </article>
        </div>
    </div>
</div>