@model List<FAEmlak.Data.Property>
@using FAEmlak.Helpers
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = $"{ViewBag.UserName} - {Localizer["PageTitle"]}";
}


<div class="row">
    <div class="col-md-12">
        <h5>@ViewBag.UserName @Localizer["UsersProperties"]</h5>
        <table class="table" cellspacing="0">
            <thead>
                <tr>
                    <th>@Localizer["Photo"]</th>
                    <th>@Localizer["Title"]</th>
                    <th>@Localizer["Area"]</th>
                    <th>@Localizer["RoomCount"]</th>
                    <th>@Localizer["Price"]</th>
                    <th>@Localizer["Created"]</th>
                    <th>@Localizer["City"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var property in Model)
                {
                    String roomCount = EnumHelper<FAEmlak.Data.RoomCount>.GetDisplayValue(property.RoomCount);
                    <tr>
                        <td><img src="~/img/@property.PropertyId/@property.Photos[0].PhotoPath" height="70" /></td>
                        <td><a asp-controller="Property" asp-action="Detail" asp-route-Id="@property.PropertyId">@property.Title</a></td>
                        <td>@property.Area</td>
                        <td>@roomCount</td>
                        <td>@property.Price</td>
                        <td>@property.Created.Date.ToString("dd/MM/yyyy")</td>
                        <td>@property.State.City.Name / @property.State.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



